# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/perplexity

# JWT Secret (for authentication)
JWT_SECRET=

# API Configuration
GEMINI_API_KEY=
TAVILY_API_KEY=
MISTRAL_API_KEY=
OPENROUTER_API_KEY=

# Mail Configuration
GOOGLE_USER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
